

p{
    font-size: 14px;
    font-family: Verdana;
    color: green;
}
h3{
    font-size: 16px;
    font-family: Verdana;
    color: grey;
}
.menu{
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}
body{
    background-color: rgb(242, 248, 248);
}
.listas{
    font-size: 12px;
    color: rgb(247, 247, 8);
}

#formuser{
    color: yellow;
    background-color: yellowgreen;
}
label{
    color: red;
}
.container{
    border:3px solid red;
    width:500px;
}
.div1{
    background-color: yellow;
}
.div2{
    background-color: violet;
}
.div3{
    background-color: green;
}
.div4{
    background-color: blue;
}